header{
  display: flex;
  background-color: #d8d8d8;
}

.container{
  width: 1200px;
  margin: 0 auto;
}


.header_content{
  display: flex;
}

.photoblock{
  margin: auto 50px;
}
.photo{
  width: 200px;
  border-radius: 50%;
}

.codepre{
  padding: 10px;
  border: 5px solid #d8d8d8;
  border-radius: 20px;
}

.info{
  margin: auto 150px;
  text-align: center;
}

h1{
  font-size: 75px;
  text-transform: uppercase;
}
a:hover{
  transition: 1s;
  text-decoration: none;
}

.skills li{
  font-weight: 700;
}


h2{
  display: inline-block;
  padding: 10px 20px;
  text-decoration:underline #f2c100;
  font-size: 40px;
  background-color:#d8d8d8;
  border-radius: 25px;
}

h2:hover{
  transition: 0.5s;
  background-color: rgb(180, 180, 180);
}

ul{
  padding: 4px;
}

nav li{
  padding: 2px;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
  display: inline;
}

nav a{
  color: black;
}

.row_one , .row_two , .row_three , .row_four{
  display: flex;

}

.contacts, .about , .skills, .code, .experience, .education, .english , .projects{
  width: 600px;
  font-size: 25px;
  
}

.contacts:hover, .about:hover , .skills:hover, .code:hover, .experience:hover, .education:hover, .english:hover , .projects:hover{
  
}

.contacts li{
list-style-type: square;
}

.cont{
 font-weight: bold;
}

.crappo{
  width: 500px;
  text-align: center;
}



.crappo img{
  width: 500px;
  border-radius: 20px;
}

.crappo img:hover{
  transition: 0.5s;
  width: 515px;
}

footer{
  height: 100px;
  background-color: #d8d8d8;
  padding: 20px 0;
}
footer .container{
  display: flex;
  justify-content: space-between;
}

.gitphoto{
  width: 100px;
}
.rsphoto{
  width: 200px;
}

.year{
  font-size: 30px;
}